<ion-view view-title="Library">
  <ion-content class="padding library">
    <div class="search-library clearfix">
      <input type="search" ng-model="query" class="searchBox" placeholder="Search Music" ng-change="filter(query)" />
      <i class="icon ion-ios-search placeholder-icon"></i>
    </div>
    
    <div class="songs-list">
      <ion-list>
        <ion-item class="item-remove-animate item-icon-left" ng-repeat="song in songs" type="item-text-wrap" href="#/tab/songs/{{song.id}}">
          <i class="icon ion-play icon-accessory"></i>
          <div class="clearfix">
            <div class="songs-info">
              <h2>{{song.songname}}</h2>
              <p>{{song.artistname}}</p>
            </div>
            <div class="song-options">
              <button class="song-when" ng-class="{active:song.when == 'today'}" ng-click="turnWhen(song, 'today'); $event.preventDefault();">Today</button><button class="song-when" ng-class="{active:song.when == 'friday'}" ng-click="turnWhen(song, 'friday'); $event.preventDefault();">Friday</button>
            </div>
          </div>
          


          <ion-option-button class="button-assertive" ng-click="remove(chat)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
